@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.webmap {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.mapContainer {
  height: 600px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}





// Popup Images

.popupImg {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}

// Gallery Container 

.galleryContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/* WebmapWebPart.module.scss (add at end)  */
.photoGalleryPopup {                   /* any class name you like */
  .leaflet-popup-content-wrapper,
  .leaflet-popup-content {
    margin: 0 !important;             /* kill asymmetric margin   */
    padding: 0 !important;            /* optional – tighter look  */
  }
}


:global(.leaflet-popup-content-wrapper) {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3); /*this is the shadow */
}

:global(.leaflet-popup-tip) {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


// gallery navigation bar

.galleryNav {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 10px;
}


.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}